body {
	color: green;
	background-color: black;
	font-family: monospace;	
}

main {
	max-width: 900px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
}

p {
	font-size: x-large;
	margin-top: 10px;
}

h1 {
	font-size: xx-large;
	color: white;
	text-align: center;
}

a {
	color: yellow;
}

.begining
{
	display: flex;
	position: relative;
	margin: 0 auto;
}

.begining .imgbox
{
	width: 300px;
	flex: 0 0 261px;
}

.begining .imgbox img
{
	max-width: 100%;
}

.begining .text
{
	margin-left: 20px;
	font-size: x-large;
}

@media (max-width: 700px)
{
	.begining
	{
		flex-direction: column;
		max-width: 350px;	
	}

	.begining .imgbox
	{
		width: 60%;
		margin: 0 auto;
	}

	.begining .text
	{
		margin-left: 0px;
	}
}
